<html>

<head>
  <title>Posts</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <script src="javascripts/nav.js"></script>
  <br><br><br><br>

  <% content.forEach(function(post) { %>
  <div class="post-div">
    <div class="user-info mobile">
      <hr>
      <img class="profile-pic" width="9%" src="users/<%=post.userid%>/images/profilePic/image.jpg">
      <div class="profile-name">
        <a href="/search?search=<%=post.user%>">
          <p class="clean-link"><b><%= post.user %></b></p>
        </a>
      </div>
    </div>

    <img class="lazy post-img" src="users/<%=post.userid%>/images/<%=post.photo%>_small.jpg"
      data-src="users/<%=post.userid%>/images/<%=post.photo%>.jpg">
    <br>
    <br>
    <div class="post-desc">
      <p class="mobile"><b><%=post.description%></b></p>
      <p class="mobile-p-left"><%= post.dateAdded %></p>
    </div>
    <hr>
    <div class="profile-name">
      <span class="mobile-p-right">
        <form method="get" action="/likesList">
          <input type="hidden" name="post_id" value="<%=post.postid%>" />
          <input type="hidden" name="user_id" value="<%=post.userid%>" />
          <a href="" class="clean-link">
            <p onclick="this.closest('form').submit();return false;">
              <b>Likes:</b> <%= (post.likedBy).length %>
            </p>
          </a>
        </form>
      </span>
      <span class="mobile-p-left">
        <form method="get" action="/commentsList">
          <input type="hidden" name="post_id" value="<%=post.postid%>" />
          <input type="hidden" name="user_id" value="<%=post.userid%>" />
          <a href="" class="clean-link">
            <p onclick="this.closest('form').submit();return false;">
              <b>Comments:</b> <%= (post.comments).length %>
            </p>
          </a>
        </form>
      </span>
    </div>



    <div class="btn-conatiner">
      <hr>
      <form method="get" action="/comment">
        <input type="hidden" name="post_id" value="<%=post.postid%>" />
        <input type="hidden" name="user_id" value="<%=post.userid%>" />
        <input type="hidden" name="user_name" value="<%=post.user%>" id="usrname" />
        <input type="submit" class="mobile input-div" value="Comment" />
      </form>

      <form method="get" action="/like">
        <input type="hidden" name="post_id" value="<%=post.postid%>" />
        <input type="hidden" name="user_id" value="<%=post.userid%>" id="usrId" />
        <input type="hidden" name="user_name" value="<%=post.user%>" id="usrname" />
        <input type="submit" id="like" class="mobile input-div" value="<%= post.likeStatus %>" />
      </form>
      <hr>

    </div>

  </div>
  <% }); %>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var lazyloadImages = document.querySelectorAll("img.lazy");
      var lazyloadThrottleTimeout;

      function lazyload() {
        if (lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }

        lazyloadThrottleTimeout = setTimeout(function () {
          var scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function (img) {
            if (img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
          });
          if (lazyloadImages.length == 0) {
            document.removeEventListener("scroll", lazyload);
            window.removeEventListener("resize", lazyload);
            window.removeEventListener("orientationChange", lazyload);
            window.removeEventListener("load", lazyload);
          }
        }, 20);
      }

      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
      window.addEventListener("load", lazyload);
    });
  </script>

</body>

</html>