<html>

<head>
  <title>Posts</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <script src="javascripts/nav.js"></script>
  <br><br><br><br>

  <div class="form-container">
    <div class="post-div">
      <h1 class="mobile"><%= user.username %></h1>

      <div class="btn-conatiner">
        <hr>
        <form action="/follow" method="post">
          <input type="submit" name="follow" value="Follow" class="mobile btn-sub input-div" />
        </form>
        <hr>
      </div>
    </div>

    <% content.reverse().forEach(function(post) { %>
    <div class="post-div">

      <div class="user-info mobile">
        <hr>
        <img class="profile-pic" width="12%" src="users/<%=user.id%>/images/profilePic/image.jpg">
        <p class="profile-name"><%= user.username %></p>
        <hr>
      </div>

      <p class="mobile"><%=post.title%></p>
      <img class="lazy post-img" src="users/<%=user.id%>/images/<%=post.photo%>_small.jpg"
        data-src="users/<%=user.id%>/images/<%=post.photo%>.jpg">
      <br>
      <br>
      <div class="post-desc">
        <p class="mobile"><b><%=post.description%></b></p>
        <p class="mobile-p-date"><%= post.dateAdded %></p>
        <p class="mobile-p-likes"><b>Likes:</b> <%= post.likes %></p>
      </div>

      <div class="btn-conatiner">
        <hr>
        <form method="POST" action="/comment">
          <input type="hidden" name="post_id" value="<%=post.postid%>" />
          <input type="submit" class="mobile input-div" value="Comment" />
        </form>

        <form method="get" action="/like">
          <input type="hidden" name="post_id" value="<%=post.postid%>" />
          <input type="submit" class="mobile input-div" value="Like" />
        </form>
        <hr>
      </div>

    </div>
    <% }); %>

  </div>

  <script>
    //lazyload();
    document.addEventListener("DOMContentLoaded", function () {
      var lazyloadImages = document.querySelectorAll("img.lazy");
      var lazyloadThrottleTimeout;

      function lazyload() {
        if (lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }

        lazyloadThrottleTimeout = setTimeout(function () {
          var scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function (img) {
            if (img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
          });
          if (lazyloadImages.length == 0) {
            document.removeEventListener("scroll", lazyload);
            window.removeEventListener("resize", lazyload);
            window.removeEventListener("orientationChange", lazyload);
            window.removeEventListener("load", lazyload);
          }
        }, 20);
      }

      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
      window.addEventListener("load", lazyload);
    });
  </script>

</body>

</html>